.breadcrumb {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    li {
        display: block;
        line-height: $global-lineheight;
        font-size: rem-calc(12);
        position: relative;
        &:not(:last-child) {
            padding-right: 2em;
            &:after {
                content: '/';
                display: block;
                width: 2em;
                text-align: center;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        a, span {
            display: block;
            line-height: $global-lineheight;
        }
        &:hover {
            text-decoration: underline;
        }
        &.is-active {
            font-weight: $global-weight-bold;
        }
        &.is-disabled {
            a, span {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}