.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    li {
        display: block;
        line-height: $global-lineheight;
        &:not(:last-child) {
            margin-right: 1em;
        }
        a {
            display: block;
            line-height: $global-lineheight;
        }
    }

    &.vertical {
        display: block;
        li {
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}