.page-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($primary-color, 0.5);
    backdrop-filter: blur(10px);
    padding: rem-calc(0 10);
    .navigation-container {
        padding: rem-calc(10 0);
        display: flex;
        align-items: center;
        @include breakpoint(medium) {
            padding: rem-calc(20 0);
        }
        .logo {
            display: block;
            font-size: rem-calc(24);
            line-height: rem-calc(30);
            font-weight: $global-weight-bold;
            text-decoration: none;
            color: $white;
            padding: rem-calc(5 0);
        }
        .main-navigation {
            margin-left: auto;
            .menu {
                li {
                    a {
                        display: flex;
                        font-size: rem-calc(14);
                        line-height: rem-calc(20);
                        padding: rem-calc(10 0);
                        color: $white;
                        @include breakpoint(medium) {
                            font-size: rem-calc(16);
                            line-height: rem-calc(20);
                        }
                        &:hover {
                            text-decoration: underline;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

.page-header {
    background-color: $primary-color;
    background-image: linear-gradient(
        45deg,
        hsl(207deg 100% 28%) 0%,
        hsl(205deg 100% 31%) 8%,
        hsl(203deg 100% 32%) 17%,
        hsl(200deg 100% 33%) 25%,
        hsl(196deg 100% 33%) 33%,
        hsl(192deg 100% 32%) 42%,
        hsl(185deg 100% 30%) 50%,
        hsl(177deg 100% 29%) 58%,
        hsl(168deg 100% 31%) 67%,
        hsl(160deg 100% 32%) 75%,
        hsl(151deg 100% 33%) 83%,
        hsl(125deg 51% 46%) 92%,
        hsl(93deg 60% 44%) 100%
      );
    color: $white;
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    padding-top: rem-calc(80);
    padding-bottom: rem-calc(40);

    @include breakpoint(medium) {
        padding-top: rem-calc(120);
        padding-bottom: rem-calc(80);
    }

    .cta-buttons {
        .button {
            margin-top: rem-calc(5);
            margin-bottom: rem-calc(5);
            &:not(:last-child) {
                margin-right: rem-calc(10);
            }
        }
    }
}

.page-content {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    .feature-section {
        padding-top: rem-calc(40);
        padding-bottom: rem-calc(40);
        @include breakpoint(large) {
            padding-top: rem-calc(80);
            padding-bottom: rem-calc(80);
        }
        .lead {
            font-size: $global-font-size;
            line-height: $global-lineheight;
            @include breakpoint(medium) {
                font-size: $lead-font-size;
                line-height: $lead-lineheight;
            }
        }
    }

    .feature-item {
        font-size: rem-calc(14);
        .h3 {
            font-size: rem-calc(16);
            @include breakpoint(medium) {
                font-size: rem-calc(18);
            }
        }
    }
}

.page-footer {
    background-color: $black;
    color: $white;
    font-size: rem-calc(12);
    line-height: rem-calc(20);
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
    @include breakpoint(large) {
        font-size: rem-calc(14);
        padding-top: rem-calc(40);
        padding-bottom: rem-calc(40);
    }
}