// BUTTON
// ---------------------------------------------------------------------------

.button {
    background-color: $primary-color;
    display: inline-block;
    color: $white;
    font-size: rem-calc(16);
    line-height: rem-calc(20);
    padding: rem-calc(10 20);
    border-radius: $global-radius;
    transition: background-color 0.3s ease;
    &:active,
    &:focus {
    }
    &:hover {
        outline: none;
        text-decoration: none;
        background-color: scale_color($primary-color, $lightness: 15%);
        color: $white;
    }
    // Disabled
    &:disabled,
    &.is-disabled {
        cursor: default;
        font-style: normal;
        color: #fff;
        background-color: red;
        opacity: 0.5;
    }
    // Secondary
    &.is-secondary {
        background-color: $secondary-color;
        &:hover {
            background-color: scale_color($secondary-color, $lightness: 15%);
        }
    }
}